html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin:0 ;
}
html {
  height: 100%;
}
body {
  background-image: url(logo.svg), -webkit-linear-gradient(top left, #007d35 0%, #007d35 40%, #0f574e 100%);
  min-height: 100%;
  background-position: center 80px, center center;
  background-repeat:no-repeat;
  background-size: 300px, 100% 100%;
  display: flex;
  align-items: flex-end;
}
@media (min-width:768px) {
  body {
    align-items: center;
    background-size: 400px, 100% 100%;
  }
}

#root {
  width: 100%;
}
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width:360px) {
  .contenedor {
    padding: 3rem;
    margin-bottom: 15rem;
  }
}
@media (min-width:640px) {
  .contenedor {
   
    margin-top: 15rem;
  }
}
@media (min-width:768px) {
  .contenedor {
    padding: 3rem;
    margin-top: 20rem;
  }
}
.btn {
  margin-top: 15rem;
  width: 20rem;
  padding: .5rem;
  font-size: 2rem;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  background-color: #ffffff;
  transition-property: background-color ;
  transition-duration: .4s;
}
@media (min-width:640px){
  .btn {
    margin-top: 1rem;
  }
}
.btn:hover {
  cursor: pointer;
  background-color: #114e306b;
  border: solid 1px black;
}
.informacion {
  background: white;
  margin-top: 2rem;
  padding: 1rem;
  font-weight: 400;
  border-radius: .5rem;
}
.autor {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.3rem;
}
.quote {
  font-size: 2rem;
}
